# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [42]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [43]:
df = pd.read_csv("Datasets/census.data", sep=',', names=['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'], na_values="?")
print (df)

          education  age  capital-gain                race  capital-loss  \
0         Bachelors   39        2174.0               White             0
1         Bachelors   50           NaN               White             0
2           HS-grad   38           NaN               White             0
3              11th   53           NaN               Black             0
4         Bachelors   28           0.0               Black             0
5           Masters   37           0.0               White             0
6               9th   49           0.0               Black             0
7           HS-grad   52           0.0               White             0
8           Masters   31       14084.0               White             0
9         Bachelors   42        5178.0               White             0
10     Some-college   37           0.0               Black             0
11        Bachelors   30           0.0  Asian-Pac-Islander             0
12        Bachelors   23           0.0               White             0
13          7th-8th   34           0.0  Amer-Indian-Eskimo             0
14          HS-grad   25           0.0               White             0
15          HS-grad   32           0.0               White             0
16             11th   38           0.0               White             0
17          Masters   43           0.0               White             0
18        Doctorate   40           0.0               White             0
19          HS-grad   54           0.0               Black             0
20              9th   35           0.0               Black             0
21             11th   43           0.0               White          2042
22          HS-grad   59           0.0               White             0
23        Bachelors   56           0.0               White             0
24          HS-grad   19           0.0               White             0
25     Some-college   54           0.0  Asian-Pac-Islander             0
26          HS-grad   39           0.0               White             0
27          HS-grad   49           0.0               White             0
28     Some-college   20           0.0               Black             0
29        Bachelors   45           0.0               White          1408
...             ...  ...           ...                 ...           ...
29506       HS-grad   30           0.0               White             0
29507          10th   32           0.0               White             0
29508  Some-college   22           0.0               White             0
29509       HS-grad   31           0.0               White             0
29510       HS-grad   29           0.0               White             0
29511     Bachelors   35           0.0               White             0
29512     Bachelors   30           0.0  Asian-Pac-Islander             0
29513     Doctorate   34           0.0               White             0
29514     Bachelors   54           0.0  Asian-Pac-Islander             0
29515  Some-college   37           0.0               White             0
29516          12th   22           0.0               Black             0
29517     Bachelors   34           0.0               White             0
29518       HS-grad   30           0.0               Black             0
29519     Bachelors   38       15020.0               Black             0
29520     Doctorate   71           0.0               White             0
29521       HS-grad   45           0.0               White             0
29522       HS-grad   41           0.0               Black             0
29523       HS-grad   72           0.0               White             0
29524       Masters   31           0.0               Other             0
29525       HS-grad   43           0.0               White             0
29526  Some-college   43           0.0               White             0
29527  Some-college   43           0.0               White             0
29528          10th   32           0.0  Amer-Indian-Eskimo             0
29529       Masters   32           0.0  Asian-Pac-Islander             0
29530       Masters   53           0.0               White             0
29531  Some-college   22           0.0               White             0
29532       HS-grad   40           0.0               White             0
29533       HS-grad   58           0.0               White             0
29534       HS-grad   22           0.0               White             0
29535       HS-grad   52       15024.0               White             0

       hours-per-week     sex classification
0                  40    Male          <=50K
1                  13    Male          <=50K
2                  40    Male          <=50K
3                  40    Male          <=50K
4                  40  Female          <=50K
5                  40  Female          <=50K
6                  16  Female          <=50K
7                  45    Male           >50K
8                  50  Female           >50K
9                  40    Male           >50K
10                 80    Male           >50K
11                 40    Male           >50K
12                 30  Female          <=50K
13                 45    Male          <=50K
14                 35    Male          <=50K
15                 40    Male          <=50K
16                 50    Male          <=50K
17                 45  Female           >50K
18                 60    Male           >50K
19                 20  Female          <=50K
20                 40    Male          <=50K
21                 40    Male          <=50K
22                 40  Female          <=50K
23                 40    Male           >50K
24                 40    Male          <=50K
25                 60    Male           >50K
26                 80    Male          <=50K
27                 40    Male          <=50K
28                 44    Male          <=50K
29                 40    Male          <=50K
...               ...     ...            ...
29506              55    Male          <=50K
29507              40    Male          <=50K
29508              40    Male          <=50K
29509              40  Female          <=50K
29510              35  Female          <=50K
29511              55  Female           >50K
29512              99  Female          <=50K
29513              60    Male           >50K
29514              50    Male           >50K
29515              39  Female          <=50K
29516              35    Male          <=50K
29517              55  Female           >50K
29518              46    Male          <=50K
29519              45  Female           >50K
29520              10    Male           >50K
29521              40  Female          <=50K
29522              32  Female          <=50K
29523              25    Male          <=50K
29524              30  Female          <=50K
29525              40    Male          <=50K
29526              40  Female          <=50K
29527              50    Male          <=50K
29528              40    Male          <=50K
29529              11    Male          <=50K
29530              40    Male           >50K
29531              40    Male          <=50K
29532              40    Male           >50K
29533              40  Female          <=50K
29534              20    Male          <=50K
29535              40  Female           >50K

[29536 rows x 8 columns]

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [44]:
print (df.head())
print (df.dtypes)

   education  age  capital-gain   race  capital-loss  hours-per-week     sex  \
0  Bachelors   39        2174.0  White             0              40    Male
1  Bachelors   50           NaN  White             0              13    Male
2    HS-grad   38           NaN  White             0              40    Male
3       11th   53           NaN  Black             0              40    Male
4  Bachelors   28           0.0  Black             0              40  Female

  classification
0          <=50K
1          <=50K
2          <=50K
3          <=50K
4          <=50K
education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [45]:
df['capital-gain'].unique()
df['capital-gain'] = pd.to_numeric(df["capital-gain"], errors='coerce')
print (df.dtypes)
df['education'].unique()
df['race'].unique()

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [48]:
ordered_education = ['Preschool','1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th',
                                    '12th', 'HS-grad','Some-college', 'Bachelors', 'Masters', 'Doctorate']
df.education = df.education.astype("category",
  ordered=True,
  categories=ordered_education
).cat.codes

df['race'] = df.race.astype("category").cat.codes
df['sex'] = df.sex.astype("category").cat.codes
df['classification'] = df.classification.astype("category").cat.codes

Lastly, print out your dataframe!

In [49]:
print (df)

       education  age  capital-gain  race  capital-loss  hours-per-week  sex  \
0             10   39        2174.0     4             0              40    1
1             10   50           NaN     4             0              13    1
2              8   38           NaN     4             0              40    1
3              6   53           NaN     2             0              40    1
4             10   28           0.0     2             0              40    0
5             11   37           0.0     4             0              40    0
6              4   49           0.0     2             0              16    0
7              8   52           0.0     4             0              45    1
8             11   31       14084.0     4             0              50    0
9             10   42        5178.0     4             0              40    1
10             9   37           0.0     2             0              80    1
11            10   30           0.0     1             0              40    1
12            10   23           0.0     4             0              30    0
13             3   34           0.0     0             0              45    1
14             8   25           0.0     4             0              35    1
15             8   32           0.0     4             0              40    1
16             6   38           0.0     4             0              50    1
17            11   43           0.0     4             0              45    0
18            12   40           0.0     4             0              60    1
19             8   54           0.0     2             0              20    0
20             4   35           0.0     2             0              40    1
21             6   43           0.0     4          2042              40    1
22             8   59           0.0     4             0              40    0
23            10   56           0.0     4             0              40    1
24             8   19           0.0     4             0              40    1
25             9   54           0.0     1             0              60    1
26             8   39           0.0     4             0              80    1
27             8   49           0.0     4             0              40    1
28             9   20           0.0     2             0              44    1
29            10   45           0.0     4          1408              40    1
...          ...  ...           ...   ...           ...             ...  ...
29506          8   30           0.0     4             0              55    1
29507          5   32           0.0     4             0              40    1
29508          9   22           0.0     4             0              40    1
29509          8   31           0.0     4             0              40    0
29510          8   29           0.0     4             0              35    0
29511         10   35           0.0     4             0              55    0
29512         10   30           0.0     1             0              99    0
29513         12   34           0.0     4             0              60    1
29514         10   54           0.0     1             0              50    1
29515          9   37           0.0     4             0              39    0
29516          7   22           0.0     2             0              35    1
29517         10   34           0.0     4             0              55    0
29518          8   30           0.0     2             0              46    1
29519         10   38       15020.0     2             0              45    0
29520         12   71           0.0     4             0              10    1
29521          8   45           0.0     4             0              40    0
29522          8   41           0.0     2             0              32    0
29523          8   72           0.0     4             0              25    1
29524         11   31           0.0     3             0              30    0
29525          8   43           0.0     4             0              40    1
29526          9   43           0.0     4             0              40    0
29527          9   43           0.0     4             0              50    1
29528          5   32           0.0     0             0              40    1
29529         11   32           0.0     1             0              11    1
29530         11   53           0.0     4             0              40    1
29531          9   22           0.0     4             0              40    1
29532          8   40           0.0     4             0              40    1
29533          8   58           0.0     4             0              40    0
29534          8   22           0.0     4             0              20    1
29535          8   52       15024.0     4             0              40    0

       classification
0                   0
1                   0
2                   0
3                   0
4                   0
5                   0
6                   0
7                   1
8                   1
9                   1
10                  1
11                  1
12                  0
13                  0
14                  0
15                  0
16                  0
17                  1
18                  1
19                  0
20                  0
21                  0
22                  0
23                  1
24                  0
25                  1
26                  0
27                  0
28                  0
29                  0
...               ...
29506               0
29507               0
29508               0
29509               0
29510               0
29511               1
29512               0
29513               1
29514               1
29515               0
29516               0
29517               1
29518               0
29519               1
29520               1
29521               0
29522               0
29523               0
29524               0
29525               0
29526               0
29527               0
29528               0
29529               0
29530               1
29531               0
29532               1
29533               0
29534               0
29535               1

[29536 rows x 8 columns]